{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "overrides": [
    {
      // for files matching this pattern
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "rules": { "no-unused-vars": "off" }
    },
    {
      "files": ["mock_methods/*.ts", "mock_methods/*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["*.json"],
  "plugins": ["@typescript-eslint", "jsx-a11y", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-var": "error",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "no-console": "warn",
    "react/no-unescaped-entities": ["warn"],
    "jsx-a11y/no-noninteractive-tabindex": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
