.orders-heading {
  font-size: larger;
  margin-left: 1%;
}

.orders__table {
  width: 100%;
  margin-top: 20px;
  max-width: 100vw;
  text-align: center;
  td {
    height: 100%;
    padding: 0;
    background-color: #6b6b6b;
  }
}
.table__order-info {
  font-family: 'Silkscreen', 'Pixel Times';
  font-size: larger;
  td {
    background-color: #4d4d4d;
  }
}
.order-thead__img {
  width: 70px;
}
.order-thead__amount {
  width: 60px;
}
.order-thead__price {
  width: 110px;
}
