.search__heading {
  margin: 2px;
}
.search__input {
  width: 100%;
  position: sticky;
  top: auto;
  font-family: 'Silkscreen';
  font-weight: bold;
}
.search__input:focus {
  border: 2px solid rgb(97, 97, 97);
  outline: none;
}
