.navbar-header {
  height: 60px;
  width: 100vw;
  background-color: black;
  border-bottom: 1px solid rgb(206, 205, 205);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.main-logo {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 5px;
  margin-right: auto;
}
.main-logo__img {
  height: 50px;
  margin: 5px;
}
.navbar-header__item {
  height: 100%;
  width: 150px;
  text-align: center;
  border: 1px solid rgb(206, 205, 205);
}
.header-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-cart__img {
  margin: auto;
  height: 80%;
}
.navbar-header {
  a:active,
  a:hover,
  a {
    text-decoration: none;
    color: white;
  }
}
