.footer {
  margin-top: auto;
}
.footer__line {
  margin-top: 5px;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
  border: 2px #8066ff solid;
  border-radius: 30px 30px;
}
.footer__text {
  text-align: center;
}
