.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 180px;
  height: 270px;
  perspective: 1000px;
  margin: 10px;
}

.front__img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  object-position: top;
  margin: 0;
  mask-image: linear-gradient(black 80%, rgba(0, 0, 0, 0));
}

.front__name {
  overflow-wrap: break-word;
  margin: 5px;
}

.game-card__front {
  backface-visibility: hidden;
  background-color: rgb(49, 49, 49);
}

.game-card__front,
.game-card__back {
  transition: 1s;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.game-card__back {
  position: absolute;
  transform: rotateY(180deg);
  background-color: black;
  top: 0;
  display: flex;
  flex-direction: column;
}
.back__description {
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
}
.back__add-panel {
  margin: 5px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.add-panel__price {
  font-size: medium;
  white-space: nowrap;
}

.add-panel__add-button {
  float: right;
  background-color: #313131;
  color: #f2f2f2;
  font-family: 'Silkscreen';
  font-weight: bold;
  padding: 4px 10px;
  border: 1px solid black;
  border-bottom: 3px solid black;
}
.add-panel__add-button:hover {
  background-color: #222222;
}
.add-panel__add-button:active {
  border-bottom: 1px solid black;
  background-color: #181818;
}

.game-card:hover .game-card__front {
  transform: rotateY(180deg);
}
.game-card:hover .game-card__back {
  transform: rotateY(360deg);
}
